.title {
  text-align: center;

  small {
    display: block;
    font-size: 0.6em;
  }
}

.get-started {
  border-top: $standard-border;
  margin-top: 20px;
  padding: 20px;
}

.hero-blocks {
  display: flex;
  border-top: $standard-border;
  padding-top: 10px;

  .block {
    width: 47.5%;
    align-items: center;
    justify-content: center;
    
    &:not(:last-child) {
      margin-right: 5%;
    }

    p {
      font-size: 0.8em;
    }
  }
}
